body{
  background-image: url(website.jpg);
  background-size: cover;
  font-family: sans-serif;
} 
/* dit is voot de achtergrond voor de website waarbij dit docment gekoppeld is, de background image url, zorgt ervoor dat de computer weet wellke afbeelding hij moet gebruiken
de background size zorgt voor de grootte van het plaatje*/

<style>
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>

<div class="dropdown">
  <span>Mouse over me</span>
  <div class="dropdown-content">
    <p>Hello World!</p>
  </div>
</div>