header img {
  height: 80px;
  margin-left: 40px;
}
body {
  height: 125vh;
  background-image: url('website.jpg');
  background-size: cover;
  font-family: sans-serif;
  margin-top: 80px;
  padding: 30px;
}

main {
  color: white;
}

header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}