
/* dit is voot de achtergrond voor de website waarbij dit docment gekoppeld is, de background image url, zorgt ervoor dat de computer weet wellke afbeelding hij moet gebruiken
de background size zorgt voor de grootte van het plaatje*/

h1{
  font-size: 11pt;
}
h2{
  font-size: 11pt;
}

p{
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

li a:active {
  background-color: #04AA6D;
}